<!DOCTYPE html>
<html lang="=en">
    <head>
        <meta charset="UTF-8" />
        <meta name="'viewport" content="width=\, inital-scale=1.0"
        meta http-equiv="=X-UA-Compatible" content="'ie=edge" />

        
    </head>
    <body>
        <h1>7MMG</h1>
        <p> 
<img src="C:\Users\jarvi1j\Desktop\Python\TimeTable\Templates\Static\Logo.jpg" align=center  height=100  width=100>
<img src="C:\Users\jarvi1j\Desktop\Python\TimeTable\Templates\Static\TT.jpg" 
        
        </p>

<br>
<p>Henry J Jarvis 2022</p>

    </body>
</html>